*
# !*/
!.gitignore

!.Xresources
!.bashrc

!.config/
!.config/*/

#-----zsh-----
!.zshenv
!.config/zsh/**
.config/zsh/pure
.config/zsh/.zcompdump
# ------------

!.config/picom.conf
!.config/awesome/**
!.config/bspwm/**
!.config/sxhkd/**
!.config/polybar/**
!.config/i3/**
!.config/rofi/**
!.config/kitty/**
!.config/nvim/**